@tailwind base;
@tailwind components;
@tailwind utilities;

/* Signature animation */
.gray-path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: draw-gray 2s linear forwards;
}

.white-path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: draw-white 12s linear infinite alternate;
}

@keyframes draw-gray {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-white {
    0% {
        stroke-dashoffset: 3000;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 3000;
    }
}


/* Scroll Bar Bounce Animation */

@keyframes scrollUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(33.4px); } /* Outer bar height (100px) - inner bar height (33px) */
    100% { transform: translateY(0); }
  }
  
  .animate-scroll {
    animation: scrollUpDown 3s ease-in-out infinite;
  }

